* {
  border-color: #393939 !important;
}
a {
  color: #8d99c7 !important;
}
a:visited {
  color: #8f8aac !important;
}
body {
  background-color: #0f0f0f !important;
  color: #4c4c4c !important;
}
html {
  background-color: #0f0f0f !important;
}
input,
textarea {
  background-color: #191919 !important;
  color: #4c4c4c !important;
}
blockquote,
pre {
  background-color: #191919 !important;
  color: #4c4c4c !important;
}
body * {
  border-color: #222 !important;
}
#content {
  background-color: #0f0f0f !important;
  color: #4c4c4c !important;
}
#mw-head,
#mw-panel {
  background-color: #191919 !important;
  color: #767676 !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #191919 !important;
  background-image: linear-gradient(to bottom, #0f0f0f, #191919) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #0f0f0f, #191919) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #0f0f0f, #191919) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #0f0f0f, #191919) !important;
}
div.vectorTabs ul li {
  background-color: #191919 !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #191919 !important;
  background-image: linear-gradient(to bottom, #0f0f0f, #191919) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #191919, #0f0f0f) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #0f0f0f !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #191919 !important;
  border-color: #222 !important;
  color: #767676 !important;
}
.catlinks {
  background-color: #191919 !important;
  border-color: #222 !important;
  color: #767676 !important;
}
.navbox {
  background-color: #191919 !important;
  border-color: #222 !important;
  color: #767676 !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #222 !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #1e1e1e !important;
}
.navbox-even {
  background-color: #0f0f0f !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #222 !important;
  color: #767676 !important;
}
code {
  background-color: #222 !important;
  border-color: #222 !important;
  color: #767676 !important;
}
div.thumbinner {
  background-color: #191919 !important;
  border-color: #222 !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #222 !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #0f0f0f !important;
  border-color: #222 !important;
  color: #4c4c4c !important;
}
table.wikitable > * > tr > th {
  background-color: #191919 !important;
}
