/*
  ____  _   _ 
 |  _ \| \ | | Pradyun Narkadamilli
 | |_) |  \| | https://pradyungn.tech
 |  __/| |\  | MIT License
 |_|   |_| \_| Copyright 2020 Pradyun Narkadamilli
*/

/* Dracula Theme code highlighting */

:root {
    /* Special */
    --background: #282a36;
    --foreground: #f8f8f8;
    --cursor: #f8f8f8;

    /* Colors */
    --color0: #000000;
    --color1: #ff5555;
    --color2: #50fa7b;
    --color3: #f1fa8c;
    --color4: #caa9fa;
    --color5: #ff79c6;
    --color6: #8be9fd;
    --color7: #bfbfbf;
    --color8: #4d4d4d;
    --color9: #ff6e67;
    --color10: #5af78e;
    --color11: #f4f99d;
    --color12: #caa9fa;
    --color13: #ff92d0;
    --color14: #9aedfe;
    --color15: #e6e6e6;
}
