// * colors.styl

// ** Solarized colors

// From https://github.com/altercation/solarized

base03 = #0f0f0f
base02 = #191919
base01 = #262626
base00 = #393939
base0 = #4c4c4c
base1 = #767676
base2 = #e7e7e7
base3 = #f0f0f0
yellow = #aca98a
orange = #c6a679
red = #ac8a8c
magenta = #ac8aac
violet = #8f8aac
blue = #8d99c7
cyan = #8aabac
green = #8aac8b
