* {
  border-color: #393939 !important;
}
a {
  color: #8d99c7 !important;
}
a:visited {
  color: #8f8aac !important;
}
body {
  background-color: #0f0f0f !important;
  color: #4c4c4c !important;
}
html {
  background-color: #0f0f0f !important;
}
input,
textarea {
  background-color: #191919 !important;
  color: #4c4c4c !important;
}
blockquote,
pre {
  background-color: #191919 !important;
  color: #4c4c4c !important;
}
div#page div#header {
  background-color: #0f0f0f !important;
}
div#page div#header a {
  color: #8f8aac !important;
}
.post {
  background-color: #0f0f0f !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #191919 !important;
}
.post h2 a {
  color: #767676 !important;
}
.post div.entry {
  background-color: #0f0f0f !important;
  color: #4c4c4c !important;
}
.post div.entry blockquote {
  background-color: #191919 !important;
}
.post div.entry kbd {
  background-color: #191919 !important;
  border-color: #262626 !important;
  box-shadow: none !important;
  color: #767676 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
